# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
.env/
.venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore project data files
expenses.txt
